.error {
  color: red;
}

.warning {
  color: yellow;
}

.box_row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info_row {
  justify-content: space-between;
}

/* Override/reset default formatting for a file input */
.formatted_file_input { 
  width: auto !important;
  margin-bottom: auto !important;
}

.info_item {
  flex-grow: 1;
  padding: 0px 4px;
}

.editing_row {
  justify-content: space-between;
}

/* Override format for slider input */
.filter_update {
  width: auto;
}

.unused_label {
  display: inline !important;
}

.view_data_row {
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Override format for waiter loader */
.bounce1, .bounce2, .bounce3 {
  background-color: #333e48 !important;
}

/* Custom theme for tooltips */
.tippy-box[data-theme~="FDA"] {
  background-color: #33A2FF;
  font-family: Arial;
}

/* Make sure loading screens don't cover everything (tooltips + shiny disconnect screen) */
.waiter-overlay {
  z-index: 10 !important;
}
