.error {
  color: red;
}

.warning {
  color: yellow;
}

.box_row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Override/reset default formatting for a file input */
.formatted_file_input { 
  width: auto !important;
  margin-bottom: auto !important;
}

.filter_update {
  width: auto;
}

.unused_label {
  display: inline !important;
}
